<section id="ifElse">
  <h1 style="text-align: center;">{{titulo}}</h1>
  <form action="" class="d-flex flex-column align-items-center">
  <input type="text" name="nombre" [(ngModel)]="nombre">
  <input type="text" name="apellido" [(ngModel)]="apellido">
  <input type="submit" value="Registrar" (click)="registrarUsuario()">
  </form>
  <p style="text-align: center;" *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre de {{nombre}} {{apellido}}</p>
</section>
<ng-template #sinRegistrar>
  <p>Nadie registrado</p>
</ng-template>

<section id="ciclos">
  <ul>
    <li *ngFor="let entrada of entradas; let i = index">
      <b>{{entrada.titulo}}</b> . Entrada {{i}}
    </li>
  </ul>
</section>
